.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 6.25rem;
    box-shadow: 0px 2px 10px gray;
    z-index: 1;
}

.headerInnerContainer {
    display: flex;
    flex-direction: row;
    gap: 450px;
}

.headerNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
    font-size: 18px;
}

.headerContiainer img {
    cursor: pointer;
}

.headerContainer img {
    margin-left: 20px;
}

.navButton {
    color: #003c71;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 25px;
    border: 2px solid white;
}

.navButton:hover {
    color: #003c71;
    font-weight: bold;
    border: 2px solid #003c71;
}

.shopButton {
    background: #003c71;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid white;
}

.shopButton:hover {
    background: white;
    color: #003c71;
    font-weight: bold;
    border: 2px solid #003c71;
}

.shoppingCart i {
    color: #003c71;
    margin-left: 30px;
}

.shoppingCart i:hover {
    color: #00A878;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .headerNavigation {
        gap: 0px;
    }  
    
    .headerInnerContainer {
        gap: 35px;
    }
}

@media only screen and (max-width: 600px) {
    .headerNavigation {
        display: none;
    }
}
