.footerOuterContainer {
    display: flex;
    flex-direction: column;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    background: white;
    border-top: 3px solid #003c71;
    padding-bottom: 20px;
}

.footerNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-right: 200px;
}

.footerColOne {
    width: 35%;
    display: flex;
    justify-content: center;
    margin-top: 44px;
}

.footerColTwo {
    display: flex;
    flex-direction: column;
}

.footerColTwo a {
    text-decoration: none;
    margin-bottom: 5px;
    color: black;
}

.footerColTwo a:hover {
    text-decoration: underline;
}

.footerColThree {
    display: flex;
    flex-direction: column;
}

.footerColThree a {
    text-decoration: none;
    margin-bottom: 5px;
    color: black;
}

.footerColThree a:hover {
    text-decoration: underline;
}

.footerColFour a {
    text-decoration: none;
    color: black;
}

.footerColFour a:hover {
    text-decoration: underline;
}

.allRightsReserved {
    display: flex;
    justify-content: flex-end;
    background: #003c71;
    color: white;
    font-size: 11px;
    padding-right: 50px;
}

.pbold {
    font-weight: bold;
    color: #003c71;
}

@media only screen and (max-width: 1000px) {

    .footerContaier {
        min-height: 450px;
        margin-bottom: 12px;
    }

    .footerOuterContainer {
        min-height: 205px;
        max-height: 205px;
        height: 205px;
    }



    .footerColOne {
        width: 18%;
    }

    .footerNav {
        margin-right: 30px;
        align-items: flex-start;
        gap: 50px;
    }

}

@media only screen and (max-width: 600px) {
    .footerColFour {
        display: none;
    }
    .footerNav {
        gap: 25px;
    }
      
    .footerContainer {
        gap: 35px;
    }
      
    .footerColOne {
        margin-top: 18px;
        margin-left: 30px;
    }
}
